doctype html
html
    head 
        title= site.title
        link(rel="stylesheet", href="/css/main.css")

    body
        h1 Todo App
        nav
            a(href="/") Home
            a(href="/new") Add New
            a(href="/about") About Us
        hr
        block content